<style>
  html {
    height: 100vh;
  }

  #body {
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  aside {
    background: rgba(130, 130, 250, 0.9);
    width: 20%;
    height: 672px;
  }

  section {
    width: 60%;
    height: 650px;
    background: rgba(130, 130, 250, 0.2);
  }
</style>

<app-header></app-header>
<div></div>
<div id="body">
  <aside></aside>
  <section>
    <div class="post"></div>
  </section>
  <aside></aside>
</div>

<router-outlet></router-outlet>
