<style>
  html {
    height: 100vh;
  }

  #body {
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  aside {
    background: rgba(130, 130, 250, 0.9);
    width: 20%;
    height: 672px;
  }

  section {
    width: 60%;
    height: 650px;
    background: rgba(130, 130, 250, 0.2);
  }
</style>

<app-header></app-header>
<div id="body">
  <aside></aside>
  <section>
    <div class="post">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem
      blanditiis quidem voluptatem id quam, impedit enim officia earum ullam
      nostrum doloribus libero nihil architecto iure maxime quas dignissimos
      odio. Temporibus corrupti modi dolorem, iste in eos debitis repudiandae
      dolorum aut veritatis eius tempore voluptate dicta beatae et sint. Odio
      voluptate ea ullam magni minima voluptatem culpa accusantium quod sunt?
      Fugit amet laborum libero quidem quo. Iusto, id minus eaque ab at harum
      maxime reiciendis molestiae! Non, ea dolore in dolor accusamus eius harum,
      totam molestiae officia soluta, sed amet? Dolorum voluptates, soluta
      dolores, voluptas debitis nesciunt recusandae, maiores veniam a
      reprehenderit perspiciatis ratione dolorem beatae qui et ab facilis iusto
      minima vero placeat fugit unde ea. Similique, earum in! Deleniti tenetur,
      sunt at veritatis maiores asperiores vitae odit velit animi ipsum fuga
      itaque. Voluptates, natus! Sit, ratione eos voluptatum obcaecati labore
      natus magni fuga autem, voluptatem quae commodi ad? Eveniet et hic ad
      dignissimos inventore harum unde quo illo, placeat nostrum doloribus
      incidunt veritatis fuga nam? Placeat assumenda error hic, nihil iure eum
      vero ipsum exercitationem, id, rem ex. Nostrum aut nesciunt illum soluta
      distinctio omnis maxime consequuntur dignissimos ex ad cumque fugiat a,
      architecto libero quae non similique magnam hic sequi atque vero nobis
      porro? Fuga, veritatis velit! Repellat quas hic at, explicabo rerum vitae
      sequi blanditiis inventore rem molestias voluptatum magnam corporis
      consequuntur! Similique necessitatibus dicta numquam odit quibusdam
      aperiam, odio nisi velit ad fugiat, distinctio sint? Ratione, ut modi
      quisquam labore consequatur nesciunt magni saepe placeat nisi nostrum,
      iure repudiandae provident. Doloremque, cupiditate, quibusdam dignissimos
      nemo blanditiis veniam soluta repellendus fugit tempora quo non sapiente
      laboriosam? Doloribus facilis temporibus adipisci tempora rem! Nemo
      necessitatibus ad earum voluptates labore, deleniti, expedita quidem ullam
      a corrupti vero facilis reprehenderit suscipit. Odit a, esse deserunt
      alias maxime odio sit! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Voluptas magni sequi dolorum. Culpa, alias exercitationem
      perferendis harum velit rerum, adipisci a odit explicabo quis vitae
      quisquam cumque voluptatum aliquid voluptate? Ut cum excepturi id
      voluptatibus dolor itaque accusantium, molestiae cumque, fugit amet sit
      aperiam blanditiis error animi! Cumque id fuga eligendi, neque accusamus
      ab fugit accusantium illum sit, beatae obcaecati? Eveniet similique
      molestias, sunt consectetur ut unde cumque voluptas at aut quos eius illum
      blanditiis ea doloribus. Nobis reprehenderit aliquid, earum eaque
      assumenda cum saepe odio numquam voluptatum, enim repellendus! Reiciendis
      temporibus enim eligendi ab vitae porro harum sed in necessitatibus,
      ducimus possimus ipsum dolorum accusantium impedit, ad error alias
      mollitia. Id fugit dolor quibusdam, odio sequi deserunt at doloremque? Ad
      illum architecto, enim molestias non ipsa! Rerum similique provident
      veritatis tenetur reprehenderit asperiores ullam laboriosam sequi tempora,
      reiciendis pariatur esse quaerat necessitatibus iusto nobis. Quaerat
      consequuntur quibusdam corrupti reprehenderit. Id assumenda rerum unde
      nobis amet culpa hic ratione eum! Consectetur magni reiciendis nobis,
      pariatur dolorem sint numquam error delectus obcaecati, quasi laudantium
      minima odio eaque nisi recusandae neque veniam! Ullam ea incidunt id saepe
      nostrum, veritatis dicta veniam asperiores doloremque eaque ipsam
      repudiandae vitae voluptates odio numquam repellat fuga impedit labore
      esse ad voluptate, soluta ut iusto! Veritatis, cumque. Minus optio sequi
      sed incidunt rem quaerat, culpa maxime voluptatem dignissimos, nesciunt in
      ducimus. Beatae amet commodi voluptates consequuntur minus? Corporis aut
      aliquam unde neque quod optio earum eaque nemo. Dolorem omnis molestias
      praesentium. Aspernatur, libero. Velit nobis voluptatem repudiandae hic
      eveniet inventore! Et cum voluptas, architecto eveniet eos dolor, ab earum
      commodi in quibusdam delectus, adipisci quas ullam doloribus. Ab
      blanditiis earum commodi veritatis officiis beatae pariatur hic quae
      similique quidem, vel inventore voluptatem deleniti iure sapiente
      reiciendis accusamus et, neque excepturi eum minima eligendi? Ad ab
      necessitatibus nemo. Accusantium magni enim aut ad, blanditiis sapiente
      delectus asperiores ex omnis iure rem fugiat cumque natus cupiditate earum
      cum. Ut provident necessitatibus aliquid! Cumque suscipit earum voluptate
      fuga, ducimus ipsum. Cupiditate nobis aperiam laboriosam, quo consequuntur
      inventore consequatur ipsa hic voluptatum asperiores ea? In consectetur
      perspiciatis quis, sapiente velit quia ipsum dolorum ex optio labore
      adipisci, ad, nemo quidem libero? Accusantium officiis quidem praesentium?
      Nemo officiis dolore eius quis doloribus quidem, eligendi dignissimos,
      deserunt libero magnam, recusandae quo repellendus illum. Harum eos
      veniam, in error quisquam possimus quod sint cumque. Neque expedita iure,
      repellat voluptas eaque pariatur sequi necessitatibus, veritatis nostrum
      natus harum, deserunt eius dolor. Quam deserunt veniam soluta facere rem,
      unde sed qui odio perferendis quibusdam perspiciatis magnam. Cumque
      necessitatibus porro rerum veniam ratione ut impedit aspernatur nihil
      quos, eum deserunt iure incidunt at distinctio debitis eveniet nobis sint
      mollitia asperiores, vitae voluptatum! Labore quisquam autem rem nemo. Quo
      dolorum dolore fugiat delectus minima totam illum doloribus officiis quasi
      debitis assumenda quod cum fugit, neque iste saepe ea sint laborum
      voluptatibus rem tempore commodi aut accusamus dolorem? Quasi. Quas, in.
      Delectus, ea officiis facere eligendi quo numquam commodi deserunt laborum
      natus consectetur! Provident numquam eaque facilis quidem saepe cum natus
      fuga iure. Temporibus blanditiis et error reprehenderit dolorum. Numquam,
      velit. Officiis, iste inventore hic exercitationem quisquam assumenda modi
      accusamus numquam officia neque beatae at reiciendis nisi quibusdam
      dolores quasi nulla? Qui inventore quo earum impedit unde nisi sapiente.
      Explicabo in possimus accusamus eius ratione officia eos officiis!
      Accusantium dolorem autem dolorum ad animi deleniti, at quasi
      reprehenderit adipisci obcaecati temporibus quisquam ullam nisi ipsum
      sapiente qui voluptate corporis! Itaque assumenda, repudiandae ducimus
      numquam, sit laborum in illo voluptate odit maxime ex. Quaerat est libero
      ea fuga, ducimus perferendis unde iure ex accusantium quia alias omnis
      explicabo. Explicabo, quo. Explicabo reprehenderit accusantium harum eum,
      doloremque rem perspiciatis. Explicabo numquam distinctio eos excepturi
      nemo ipsa? Laborum, placeat voluptas. Id necessitatibus amet iste magnam
      ducimus reiciendis possimus consequatur repellendus dicta nisi. Sit
      eligendi veniam facere autem assumenda ratione ducimus nemo alias cum? Ad
      corrupti, dolorum tempore, natus odio mollitia quibusdam rem facere quas
      sed repudiandae amet corporis voluptates ea! Esse, at! Asperiores dolores
      harum numquam quibusdam libero fuga vitae nesciunt, esse, error voluptatem
      expedita id. Quis totam impedit accusamus ullam animi magni culpa quam,
      molestiae obcaecati necessitatibus nisi officiis, provident dicta? Ea
      molestiae a magnam quis dolore expedita magni impedit error? Velit
      deserunt atque at deleniti tenetur, magnam commodi, ullam accusantium
      animi modi obcaecati minus quo nihil? Unde reiciendis nulla sit? Natus
      inventore atque error veritatis accusantium? Cumque amet officia quae,
      voluptatibus alias voluptates nam repellat voluptatum aspernatur, omnis
      vitae magni commodi. Non cumque itaque beatae deserunt voluptatum quod
      dolorum corrupti! Qui, consequatur, ea temporibus expedita ut consequuntur
      veritatis quisquam voluptates nihil officia, exercitationem tempora
      quibusdam vitae fugit quo quis dolorem delectus illo voluptatem doloribus.
      Ratione modi est reprehenderit debitis? Recusandae? Dolor impedit natus
      maxime eius atque deserunt, quasi debitis, laboriosam consequuntur vitae
      facere ex? Labore quasi provident dicta esse, at, ab sequi nostrum ullam
      ipsum veniam possimus voluptas asperiores cupiditate! Quis ut possimus
      fugit tempora voluptate totam magnam. Corrupti sit odit cum at, eius illo
      quidem, tenetur dolores consequuntur perspiciatis voluptatum porro non
      blanditiis. Quaerat veniam labore voluptatum tempore laudantium. Ipsum
      nihil repellendus vel quis quisquam delectus dolores doloribus.
      Exercitationem, reprehenderit animi soluta reiciendis quam, aperiam nam,
      ipsa in nobis iusto non natus unde quod sunt architecto consectetur
      perspiciatis porro! Error ea id animi quasi nam aut voluptatibus eos totam
      nemo asperiores! Voluptas nostrum inventore ea suscipit cumque eum,
      ducimus maxime cupiditate velit temporibus reprehenderit iure, aliquam
      natus. Temporibus, iste? Voluptatum recusandae in obcaecati laboriosam
      modi eum repellendus sequi, dolorum ad aspernatur itaque, expedita
      eligendi. Explicabo nihil ea suscipit repudiandae asperiores quo ut
      temporibus, eligendi distinctio accusantium ad illo. Illum. Laborum totam
      saepe mollitia fugit officiis consequuntur quam? Debitis natus tempore,
      laborum, eveniet aliquid reprehenderit saepe repudiandae similique ut
      ipsam ea, pariatur a. Quo, tempore. Itaque ullam nihil debitis a. Dolor,
      voluptate pariatur. Velit, nisi ab minus assumenda quaerat fuga autem iure
      impedit, adipisci error accusamus sit ullam, ex harum mollitia
      praesentium? Optio enim facilis ea nam temporibus quod magni? Beatae sequi
      esse hic. Quod praesentium ducimus, porro quae autem a fuga libero facere
      quaerat quam nihil nesciunt perspiciatis quis dolorem sequi officia
      impedit adipisci maiores accusantium. Neque, ut quidem? Error ab, illum
      sunt nam placeat sit consequuntur sapiente ullam. Quas, porro laboriosam
      excepturi, asperiores quidem provident numquam officia eveniet nostrum qui
      blanditiis similique magni, nesciunt nam. Iste, quos? Temporibus? Cumque
      dolorem accusamus culpa, delectus quaerat tempore corrupti aliquid porro
      nam ipsa illum, explicabo in debitis, id praesentium doloribus modi
      mollitia recusandae? Perspiciatis quis quod qui! Quia deserunt obcaecati
      reprehenderit. Dolore nulla veniam odit temporibus cumque blanditiis
      placeat doloribus, asperiores, fugit eius sunt incidunt adipisci! Eius
      exercitationem harum, eveniet recusandae veniam voluptate voluptatum
      excepturi doloremque illo enim, tempore debitis quam. Repellat in amet quo
      hic rerum cumque similique? Perspiciatis temporibus odit praesentium
      inventore eaque exercitationem, harum quis perferendis deleniti nisi sequi
      molestias quo, consequatur est accusamus illo nemo consequuntur
      voluptatibus? Rem, nihil. Consequatur vero molestias sit cumque
      consequuntur facere minus fugiat sunt accusantium. Delectus maxime et
      iusto, earum, est assumenda pariatur alias voluptate nesciunt distinctio
      ipsa ducimus dolores, doloremque eveniet. Velit corrupti commodi quasi
      aliquid, totam rem nostrum, repudiandae, cum fugiat qui beatae! Adipisci
      odit necessitatibus itaque vel animi, eos aut quasi dolores nihil
      excepturi totam at commodi ab ut. Dicta ex doloremque laborum perspiciatis
      expedita magnam pariatur delectus beatae, provident perferendis ut. Nobis
      porro perferendis aliquam at ullam, obcaecati ipsum harum dolores pariatur
      voluptates exercitationem asperiores laborum, a corrupti. At illo officia
      aut necessitatibus odio voluptatibus placeat ex reiciendis sit provident
      quam, perferendis magnam sint saepe iusto veritatis eaque tempora unde
      quaerat deleniti nostrum asperiores. Optio inventore voluptatem debitis.
      Nisi ad quos quaerat, blanditiis quidem minus consectetur mollitia id
      tempore est aut magni quibusdam possimus cumque fugiat iure facere quasi
      quia autem nemo incidunt. Maiores vitae ad similique nostrum? Laudantium
      ipsam dolorem ipsum dignissimos sapiente eligendi quisquam odio cumque, et
      consequuntur, aliquam tempore animi odit id officia tenetur consectetur
      iure ut magni totam vitae? Numquam error alias iusto voluptatem. Quis
      consectetur repellendus nihil ipsum cum harum est sint vitae tempora.
      Recusandae aspernatur voluptates vero fuga aperiam ipsa, dicta iusto
      perferendis iste neque error consequuntur veritatis? Reprehenderit
      blanditiis necessitatibus tempora. Aspernatur sint quidem nulla modi animi
      blanditiis fugit laudantium, quibusdam velit nemo laborum. Nesciunt quod,
      earum quasi assumenda quia dolores qui voluptatem saepe dignissimos,
      obcaecati error non impedit perferendis magnam! Dolor, ut reiciendis
      repellat deserunt modi omnis laboriosam minima perspiciatis eaque iste
      dicta, sunt repellendus nostrum vero doloribus quae officiis amet beatae?
      Repudiandae aliquid quisquam libero temporibus sequi? Natus, porro! Iusto
      eum beatae reprehenderit quasi. Magnam sapiente enim sunt quis earum
      aliquam sit, harum odit fugit, soluta accusantium aliquid suscipit odio
      mollitia illo ex qui provident quod tempora. Voluptates, perspiciatis!
      Cupiditate aliquid officiis distinctio, corrupti odio quia ipsa! Error
      nisi ratione quis est. Eos optio praesentium tempora doloribus quidem
      ullam, numquam hic ea amet maiores, itaque eaque corrupti! Architecto,
      molestias! Fuga dolore et non libero facere maiores mollitia earum veniam
      at optio numquam neque reiciendis ab alias, minima nam commodi vel tempora
      dolores blanditiis quas. Tenetur aperiam error qui rerum. Iure nam commodi
      earum ad maxime beatae suscipit, rerum quod ipsa placeat nesciunt
      distinctio labore veritatis rem ex explicabo voluptate fugit sed in culpa
      voluptas. Laboriosam at maxime velit autem. Tempora ipsum aspernatur
      cumque perspiciatis amet vitae incidunt accusamus ipsa, saepe, quidem
      maiores eveniet minima, assumenda et voluptatibus ea iusto possimus
      blanditiis fugit eius fugiat? Perspiciatis mollitia doloremque sunt
      blanditiis? Voluptatem velit praesentium modi officiis optio doloribus
      animi deleniti laudantium voluptates pariatur explicabo sunt deserunt
      nobis laborum, iusto suscipit quae obcaecati vero similique corrupti quis,
      minima, neque consequatur. Fugit, numquam. Labore corporis enim placeat
      saepe, debitis reprehenderit expedita sed officiis ex, ratione, maxime
      recusandae sunt accusamus aliquid repudiandae molestiae doloremque
      repellendus consectetur sit tenetur officia nihil. Veniam aperiam
      quibusdam minima? Consequuntur rem soluta natus perspiciatis, labore
      tenetur reiciendis quia minima molestiae ipsum quasi dolorum et cumque
      sit, ullam iure dolores iste quis. Error aspernatur sequi quod vero
      commodi maiores qui? Aliquam odio, magni suscipit, aut omnis ipsam vero
      officia eveniet nobis sunt laboriosam recusandae illo vel mollitia! Quis
      dolor accusantium esse mollitia est odio atque culpa quibusdam, delectus
      provident deleniti? Harum dolorem aperiam odit, unde voluptates quasi
      deleniti consectetur architecto neque omnis dolore dolor, adipisci illo
      magni mollitia optio quia cum sit excepturi magnam veritatis! Maiores
      suscipit distinctio officia quibusdam. Incidunt corrupti doloribus
      officiis labore a omnis at debitis minima, vel fuga aspernatur, laudantium
      pariatur, hic corporis enim asperiores necessitatibus quia consequuntur
      sunt animi velit voluptates! Omnis atque dolorum nam. Quae sapiente ipsa
      corporis officiis aut rerum ad voluptas minima quis, voluptates eius,
      expedita vitae nesciunt beatae tempora nulla quam recusandae! Esse nisi
      accusantium eaque saepe animi excepturi id dolorem. Labore sequi sunt,
      voluptates quidem, tempora voluptatibus eveniet et consectetur non
      accusamus minus inventore, harum excepturi fugiat officia! Totam,
      perferendis quibusdam? Repudiandae ab harum aliquid. Deserunt nulla labore
      officiis ipsa! Repudiandae tempora ipsa voluptate vitae nobis iure quos,
      reiciendis assumenda, laudantium at nemo minus saepe, dolorem nulla?
      Placeat blanditiis natus sit officia recusandae officiis, a harum
      doloremque asperiores praesentium non? Sed amet ad autem ratione dolor,
      odio voluptates. Inventore, quas. Tenetur amet nobis reprehenderit,
      doloremque, minima ratione delectus placeat non porro tempore ab! Commodi
      accusantium sapiente tempore molestias praesentium quia! Quae ipsa eius
      eos facilis non consequatur, at libero perferendis optio ducimus
      recusandae mollitia officia inventore similique, soluta possimus
      voluptatibus corporis nesciunt veritatis rerum quaerat consequuntur est!
      Vel, velit ratione! Quisquam dignissimos porro atque modi officiis odio ut
      fuga sequi, molestias fugit amet consectetur! Magnam, accusantium enim,
      atque repudiandae nemo, ipsam repellendus reiciendis temporibus distinctio
      consectetur sint vero dignissimos corporis? Veniam accusamus molestias vel
      possimus unde. Repellendus dolor suscipit blanditiis dolorum iusto!
      Incidunt praesentium enim illum dolor porro tempora iste modi suscipit
      fugiat reiciendis laborum, ad, accusamus ab inventore mollitia. Officiis
      quasi libero possimus eos blanditiis voluptatibus, aliquid aliquam, maxime
      a ullam sunt sapiente dolorem accusamus? Non, at quia? Earum adipisci
      deleniti odit, dolores fugiat id eveniet dolorum reprehenderit dolorem.
      Laborum, quo neque ad modi temporibus, iusto qui libero facere dolorum,
      doloribus placeat nulla. Beatae dolorem voluptate fugiat, tempore incidunt
      omnis! Officia delectus omnis rem soluta repellendus asperiores obcaecati
      nemo. Magni dolores repudiandae odit delectus obcaecati vitae nemo
      eligendi soluta adipisci fuga recusandae in, porro excepturi. Omnis dicta
      repellendus numquam, accusamus iste aperiam minima impedit corporis? Modi
      a dolorem tempore. At velit nisi ipsa a eos. Sed placeat esse omnis
      voluptatem aliquid vitae, officia vero provident a voluptates, vel dolorem
      porro natus explicabo qui dolor aperiam corporis maxime magni. Dolorum?
      Maxime mollitia facere soluta atque voluptatem ipsa consectetur quis.
      Tenetur voluptatum fugiat similique sed nesciunt. Deserunt quis ad placeat
      aspernatur enim minus repellendus ipsum, quo, cupiditate odit voluptatem
      reiciendis temporibus? Quaerat sapiente laboriosam facilis error voluptate
      illo deserunt est autem, officiis praesentium fugiat quod totam aut quasi
      ullam iste, placeat, a et dolorem sequi. Totam nemo ab vero fuga maxime!
      Saepe ullam adipisci doloremque sequi dolor, doloribus quas error
      architecto nemo harum veritatis ipsa perspiciatis distinctio quia cumque
      eligendi. Veniam, laudantium amet repudiandae assumenda deserunt aperiam
      nisi quos magni itaque! Error magni enim dolorem debitis sapiente soluta
      atque blanditiis architecto, placeat odio laborum eligendi velit iusto
      quaerat commodi, corporis aspernatur iure, vitae fuga! Mollitia impedit
      fuga maiores nisi ad veniam. Similique at harum alias id quia dicta
      itaque, veniam nam maiores enim error fugit. Beatae repellendus repellat
      rem eligendi sit cumque incidunt ipsum, labore asperiores aliquam
      aspernatur repudiandae nulla eius. Consequuntur ab voluptas reprehenderit
      enim totam magnam, cum dignissimos similique reiciendis. Esse
      reprehenderit aut suscipit officiis. Maiores velit voluptate, nulla harum,
      eius sed eos, itaque laudantium corporis illo a repudiandae! Fugit
      numquam, excepturi sint eaque quam eligendi amet tempora accusamus atque
      temporibus impedit esse quas est eos unde ea soluta ipsam officiis
      sapiente, omnis nulla vitae nihil assumenda? Voluptatum, molestiae.
      Deleniti voluptatibus quam architecto quaerat, cumque necessitatibus
      doloribus nulla quae consequuntur minima itaque illum distinctio
      accusantium! Nobis numquam asperiores veritatis impedit ipsum eos libero
      amet, praesentium hic tempora odio nesciunt. Dolorum voluptate saepe
      reprehenderit facere error dignissimos molestias sed maiores temporibus.
      Necessitatibus, neque veritatis voluptatum error minima nobis tempora,
      eaque eius voluptatibus tenetur, illum quae. Mollitia odit temporibus
      excepturi hic! Reiciendis necessitatibus, est quibusdam ex voluptates
      culpa? Nobis eius voluptatum rem totam? Fuga at recusandae magni nihil,
      veritatis temporibus nisi modi. Sed necessitatibus obcaecati tenetur
      nulla, aut nihil doloremque provident. Vero cumque ut, eum architecto
      expedita ipsum reiciendis numquam cum officia? Quidem culpa similique illo
      alias fugit possimus ex a quibusdam, nisi odit minima iste nesciunt
      repudiandae magnam cupiditate hic! Natus minus neque molestiae veritatis,
      officia accusamus praesentium, totam atque facere esse aliquam sint
      consectetur, dolorum labore quas id inventore non vel magni porro. In
      debitis eius sunt cumque deleniti? Perferendis fugiat dolores impedit
      excepturi modi fugit quod facilis ad quibusdam. Dolore voluptatum dolor
      dolorem assumenda deserunt nulla praesentium rem ratione placeat aliquam
      similique iusto, enim nobis illum qui? Quaerat? Mollitia eligendi dolores
      impedit laudantium dolore debitis illo, animi dolorum, repellat in nemo
      porro cumque iure nobis corrupti sapiente vitae delectus excepturi, illum
      deleniti dolor quia eius maxime! Aut, omnis. Error, odit. Eligendi, at
      illum numquam quasi molestias beatae eius facere sequi deleniti! Ea
      voluptas inventore alias autem labore molestias esse, unde omnis
      necessitatibus totam facere explicabo mollitia deserunt suscipit. Eligendi
      laboriosam velit alias earum excepturi, asperiores labore sunt hic,
      dolorum vel consequatur autem in sed distinctio commodi dolorem quisquam
      omnis reiciendis, esse repudiandae ducimus aliquid quibusdam id. Sint,
      inventore! Aut, fugit. Aspernatur corrupti, nam dolorum commodi architecto
      laboriosam officia? Consectetur, quae debitis. Reprehenderit ut doloribus
      distinctio hic culpa adipisci facere ipsum magnam minus rem? Perspiciatis
      quis atque dolorem dignissimos? Earum, fugit doloribus? Ipsa rem
      architecto illum. Eos impedit eum ad aliquam eligendi vel distinctio
      adipisci repudiandae laboriosam iusto cum labore magni blanditiis fuga
      atque dicta tenetur soluta, deleniti omnis. Quos itaque tenetur et fuga
      fugiat dignissimos, non cumque? Aperiam illum itaque quibusdam
      voluptatibus, vel exercitationem dignissimos ipsam quam nesciunt eos et
      officia quis iure nobis quidem nisi expedita laboriosam. Labore possimus,
      dolore officiis mollitia laudantium nam quisquam? Veniam non, repellat
      magnam quas possimus reiciendis molestias aliquam blanditiis soluta saepe
      voluptate, id, quis harum sequi cum! Autem sint veritatis error. Soluta
      consequatur dicta blanditiis nihil expedita optio similique libero a iure
      asperiores? Excepturi, obcaecati quae asperiores molestiae, assumenda
      iusto debitis vel perspiciatis eveniet repudiandae, odit cum culpa nisi
      sequi repellendus. Soluta officiis quisquam ducimus cum. Nesciunt, vero.
      Et aspernatur, sint ea fugit atque beatae. Quis eveniet tenetur nisi neque
      cupiditate? Iure voluptates possimus id perspiciatis, dolorem
      necessitatibus laboriosam! Consequatur, eaque. Cupiditate reiciendis iste
      culpa eos, aspernatur ipsum odio repudiandae. Voluptates odio at in harum
      aut ipsam praesentium enim et aperiam labore cum nostrum eveniet, aliquid
      illum velit dolores eligendi magni. Corporis consequatur hic molestias
      officia culpa quibusdam odio adipisci ea. Soluta quis repellat laborum
      minima tenetur debitis, provident et, aliquam maxime sapiente impedit
      dolores dolorem aperiam inventore quibusdam tempora magni! Repellat
      consequuntur ad quasi excepturi minima, debitis aut modi id magnam ex
      exercitationem repellendus molestiae eligendi, nobis neque voluptates a
      esse distinctio quos amet porro pariatur quae? Nihil, autem? Molestias?
      Harum nisi in quae hic molestias fugiat quidem, illum, repellat maiores
      est rem laboriosam ex amet suscipit accusantium ducimus, vero ipsum veniam
      culpa! Iure in reprehenderit nihil sint et consequatur. Esse nam natus
      corrupti assumenda architecto. Velit tempora a nihil voluptatem, iure
      magnam tenetur provident numquam exercitationem molestiae excepturi eius!
      Earum temporibus eos natus minus id quo ipsam labore architecto!
      Accusantium, ullam. Exercitationem, quam vitae? Possimus officiis, libero
      velit ipsam autem fugiat, inventore sequi eveniet recusandae animi modi
      quasi non maiores natus doloribus. Blanditiis, animi sapiente aliquam hic
      deserunt ipsam. Sed error necessitatibus dolorum eum ad vel vero
      architecto dicta facilis nulla, ut possimus consequatur adipisci quae
      repellendus reprehenderit maiores! Doloribus repellendus in provident ipsa
      dolorum quibusdam blanditiis nihil recusandae? Doloremque dicta illo natus
      repellendus totam dolor dolores omnis possimus, delectus fuga expedita
      similique deleniti culpa libero in maxime amet, eos quo voluptate
      perspiciatis. Ad necessitatibus cum ipsum excepturi corporis! Ex
      asperiores molestiae incidunt, quia laborum a placeat minima unde optio
      tempore ipsum aperiam possimus? Voluptas id at iure quasi vero commodi
      accusamus. Aut, officia porro ipsa dolor beatae rem.
    </div>
  </section>
  <aside></aside>
</div>

<router-outlet></router-outlet>
